
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/main.css">
      
      <title>About</title>
  </head>
  <link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css" />
  
  <body>
    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Ajitpal Singh. Basically, I'm from Punjab(India) but currently I'm living in Brampton(Canada). I came to Canada for my higher education. I'm doing a diploma in Computer Programming at Seneca College(Newnham Campus). Currently I'm in 3rd semester of my course. My experience in a new country as an independent student has been so far so good. </p>
          <p>I like travelling a lot, so being in a new country it helped me lot. I love exploring new places and cities. The only drawback I've faced till now being in a new country is staying away from family. I miss my parents a lot. I'm hoping to visit them once my study gets completed. </p>
          <p>I like reading books, watching anime/movies/sitcoms. I love playing games. It doesn't matter if its a PC game, mobile game, Xbox or PS, as long as its a game I'm cool with it.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>An Indo-Canadian programmer/web developer/professional gamer/streamer or something else, who knows? ;) </p>
        </aside>
      </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>